Repository Vyxal/Vyxal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

regen-test-elements-py:
  name: Regenerate tests/test_elements.py
  entry: python documents/knowledge/processor.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-txt:
  name: Generate documents/knowledge/elements.txt
  entry: python documents/knowledge/yaml_to_txt.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-md:
  name: Generate documents/knowledge/elements.md
  entry: python documents/knowledge/yaml_to_md.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-js:
  name: Generate static/parsed_yaml.js
  entry: python documents/knowledge/yaml_to_js.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

sort-elements:
  name: Sort elements in elements.py
  entry: python sort_element_functions.py
  language: python
  additional_dependencies: []
  pass_filenames: false

Apply suggestions from code review
  static/main.js
Due: none

Add bytes/elem
  static/main.js
Due: none

∆p
  static/main.js
Due: none

Update static/main.js
  static/main.js
Due: none

Make tab completions compress numbers
  static/main.js
Due: none

Argh
  static/main.js
Due: none

Allow tab string compress
  static/main.js
Due: none

Fix while loops
  vyxal/transpile.py
Due: none

Well that's a different bug altogether. Fixed.
  tests/test_complex.py
  vyxal/transpile.py
Due: none

Fix
  vyxal/transpile.py
Due: none

Version 2.15.0
  pyproject.toml
Due: none

Make `øḋ` vectorise
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Remove duplicated functions
  vyxal/elements.py
Due: sort-elements

Make sorting 0 work
  vyxal/elements.py
Due: sort-elements

Make some online interpreter autocompletes work properly
  static/main.js
Due: none

Make divmod work when rhs is 0
  documents/knowledge/elements.yaml
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Allow closing multiple structures at once
  tests/test_complex.py
  vyxal/parse.py
Due: none

Update elements.yaml
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Make `vy_floor` work properly with strings.
  vyxal/elements.py
  vyxal/helpers.py
Due: sort-elements

Make pushing numbers work right
  vyxal/transpile.py
Due: none

Change it everywhere else too
  tests/test_transpiler.py
  vyxal/elements.py
  vyxal/helpers.py
Due: sort-elements

big brained the transpiler test
  tests/test_transpiler.py
Due: none

Version 2.15. 1
  pyproject.toml
Due: none

Add count overlapping element
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Add overloads for vectorising sum
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Make powerset return a string list on strings
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Fix docs for ↔ and İ
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Make İ never include the initial value
  vyxal/elements.py
Due: sort-elements

Preserve string state with shuffle
  vyxal/elements.py
Due: sort-elements

Add adjacent filter-group
  documents/knowledge/elements.yaml
  tests/test_complex.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

When generating a CGCC post template, don't show some flags
  static/main.js
Due: none

Fix assign
  tests/test_complex.py
  vyxal/elements.py
Due: sort-elements

Update main.py
  vyxal/main.py
Due: none

Update vyxal/main.py
  vyxal/main.py
Due: none

Version 2.15.2
  pyproject.toml
Due: none

Update codepage.txt
  codepage.txt
Due: none

Make pure complex numbers work again
  tests/test_complex.py
  vyxal/transpile.py
Due: none

Path conditions:
  regen-test-elements-py: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-txt: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-md: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-js: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  sort-elements: any of: vyxal/elements.py, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
