Repository Vyxal/Vyxal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

regen-test-elements-py:
  name: Regenerate tests/test_elements.py
  entry: python documents/knowledge/processor.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-txt:
  name: Generate documents/knowledge/elements.txt
  entry: python documents/knowledge/yaml_to_txt.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-md:
  name: Generate documents/knowledge/elements.md
  entry: python documents/knowledge/yaml_to_md.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-js:
  name: Generate static/parsed_yaml.js
  entry: python documents/knowledge/yaml_to_js.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

sort-elements:
  name: Sort elements in elements.py
  entry: python sort_element_functions.py
  language: python
  additional_dependencies: []
  pass_filenames: false

funny little lexer
  src/main/scala/lexer.scala
  src/main/scala/vyxal.scala
Due: none

Add some clarification info to superscript plus
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Update lexer.scala
  src/main/scala/lexer.scala
Due: none

Make the lexer actually work
  src/main/scala/lexer.scala
Due: none

give command the lowest priority in the lexer
  src/main/scala/lexer.scala
Due: none

Port Jelly's untruth algorithm
  vyxal/elements.py
Due: sort-elements

Unport jelly and make a few bug fixes
  vyxal/elements.py
Due: sort-elements

Update the yaml with a new test
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Make grouping modifiers work properly
  tests/test_complex.py
  vyxal/elements.py
Due: sort-elements

Make sure tokens after a modifier have the appropriate parent
  tests/test_parser.py
  vyxal/parse.py
Due: none

Add multi-dimension enumerate and multi-dimension indices
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
  vyxal/helpers.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Add extra test
  tests/test_complex.py
Due: none

Add some more lexer stuff
  src/main/scala/lexer.scala
  src/main/scala/vyxal.scala
Due: none

Account for the fact that a parent structure can be none sometimes
  vyxal/parse.py
Due: none

Version 2.18.0
  pyproject.toml
Due: none

Fix a little issue with `make_expression` and uncomment tests for some math stuff
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/helpers.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Make ¨U work NOT online but offline
  vyxal/elements.py
Due: sort-elements

Add tests and handling of different string types
  build.sbt
  src/main/scala/lexer.scala
  src/test/scala/testLexer.scala
Due: none

Version 3, so get rid of the python stuff
  .github/workflows/deploy.yaml
  .github/workflows/linter.yaml
  .github/workflows/pypi.yaml
  .github/workflows/run-tests.yaml
Due: none

Revert "Version 3, so get rid of the python stuff"
  .github/workflows/deploy.yaml
  .github/workflows/linter.yaml
  .github/workflows/pypi.yaml
  .github/workflows/run-tests.yaml
Due: none

More lexer stuff
  src/main/scala/lexer.scala
  src/test/scala/testLexer.scala
Due: none

Docs and comments
  documentation/Lexer.md
  src/main/scala/lexer.scala
Due: none

\n instead of literal newline
  documentation/Lexer.md
Due: none

Rename lexer class to have capital letter
  src/main/scala/lexer.scala
  src/test/scala/testLexer.scala
Due: none

Make sure to update reference to lexer in main file
  src/main/scala/vyxal.scala
Due: none

Create the parser file
  src/main/scala/parser.scala
Due: none

initial parser stuff
  src/main/scala/parser.scala
Due: none

Add documentation to the parser
  documentation/Parser.md
Due: none

Add branch tokens
  documentation/Lexer.md
  src/main/scala/lexer.scala
Due: none

Capitalize lexer.scala and parser.scala
  src/main/scala/Lexer.scala
  src/main/scala/Parser.scala
Due: none

Minor changes to make more idiomatic or something
  build.sbt
  src/main/scala/Lexer.scala
  src/main/scala/Parser.scala
  src/main/scala/vyxal.scala
  src/test/scala/LexerTests.scala
Due: none

Move AST to its own file
  src/main/scala/AST.scala
  src/main/scala/Lexer.scala
  src/main/scala/Parser.scala
Due: none

Make Parser use list of tokens instead of string
  src/main/scala/Parser.scala
  src/main/scala/vyxal.scala
Due: none

Add seperate EBNF for lists
  documentation/Parser.md
Due: none

Version 2.18.1
  pyproject.toml
Due: none

No more labels on issues automatically applied
  .github/workflows/labeler.yml
Due: none

Remove the label config file
  .github/labeler.yml
Due: none

Add some more docs
  documentation/Lexer.md
  documentation/Parser.md
Due: none

Make web requests work again
  tests/test_complex.py
  vyxal/elements.py
Due: sort-elements

Make variadic functions work again
  tests/test_complex.py
  vyxal/main.py
  vyxal/transpile.py
Due: none

Path conditions:
  regen-test-elements-py: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-txt: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-md: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-js: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  sort-elements: any of: vyxal/elements.py, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
