Repository Vyxal/Vyxal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

regen-test-elements-py:
  name: Regenerate tests/test_elements.py
  entry: python documents/knowledge/processor.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-txt:
  name: Generate documents/knowledge/elements.txt
  entry: python documents/knowledge/yaml_to_txt.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-md:
  name: Generate documents/knowledge/elements.md
  entry: python documents/knowledge/yaml_to_md.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-js:
  name: Generate static/parsed_yaml.js
  entry: python documents/knowledge/yaml_to_js.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

sort-elements:
  name: Sort elements in elements.py
  entry: python sort_element_functions.py
  language: python
  additional_dependencies: []
  pass_filenames: false

Make `ÞK` respect original type if numeric
  vyxal/elements.py
Due: sort-elements

Fix `ø⟇`
  vyxal/elements.py
Due: sort-elements

Use the `simple=True` parameter of `vy_type` for `ṅ`
  vyxal/elements.py
Due: sort-elements

Make `i` modular slice strings
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Update elements.py
  vyxal/elements.py
Due: sort-elements

Add sort at every level
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Allow overriding inputs
  documents/knowledge/elements.yaml
  tests/test_complex.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Update vyxal/helpers.py
  vyxal/helpers.py
Due: none

Make uppercase letters work
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Add stuff for len != 1
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Added letter-to-number
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Fix nested modifiers' arity
  tests/test_complex.py
  vyxal/transpile.py
Due: none

Update vyxal/transpile.py
  vyxal/transpile.py
Due: none

Add another test
  tests/test_complex.py
Due: none

Finally did the rest
  static/main.js
Due: none

Update static/main.js
  static/main.js
Due: none

Fine, have your ASCII digraphs
  static/main.js
Due: none

Change some tests for `øḞ`
  documents/knowledge/elements.yaml
  tests/test_elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Change some tests for `øṄ`
  documents/knowledge/elements.yaml
  tests/test_elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Improve the behaviour of `Þ∨`
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Make ↔ set intersection
  documents/knowledge/elements.yaml
  tests/test_complex.py
  vyxal/elements.py
  vyxal/helpers.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Revert docs
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Improve the behaviour of `Þ∩`
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Improve the behaviour of `Þ∪`
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Change the tests for `Þ⊍`
  documents/knowledge/elements.yaml
  tests/test_elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Make `vy_eval` account for fractions and make split and keep delimiter use vy_eval
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
  vyxal/helpers.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Yeet OEIS
  flask_app.py
Due: none

Fix linting issue in `multiset_intersection`
  vyxal/elements.py
Due: sort-elements

Lift some other nonlocals
  .github/workflows/linter.yaml
  vyxal/elements.py
  vyxal/helpers.py
Due: sort-elements

Fix last failing test
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Path conditions:
  regen-test-elements-py: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-txt: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-md: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-js: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  sort-elements: any of: vyxal/elements.py, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
