Repository Vyxal/Vyxal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

regen-test-elements-py:
  name: Regenerate tests/test_elements.py
  entry: python documents/knowledge/processor.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-txt:
  name: Generate documents/knowledge/elements.txt
  entry: python documents/knowledge/yaml_to_txt.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-md:
  name: Generate documents/knowledge/elements.md
  entry: python documents/knowledge/yaml_to_md.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-js:
  name: Generate static/parsed_yaml.js
  entry: python documents/knowledge/yaml_to_js.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

sort-elements:
  name: Sort elements in elements.py
  entry: python sort_element_functions.py
  language: python
  additional_dependencies: []
  pass_filenames: false

Scalafix changes
  shared/src/main/scala/Elements.scala
Due: none

Try using iterator
  shared/src/main/scala/ListHelpers.scala
Due: none

Scalafix changes
  shared/src/main/scala/ListHelpers.scala
Due: none

Remove parens (Steffan's suggestion)
  shared/src/main/scala/NumberHelpers.scala
Due: none

Refresh element documentation from recent commit
  documentation/elements.txt
Due: none

Make Ǔ/ǔ modular
  vyxal/elements.py
Due: sort-elements

Add element S
  shared/src/main/scala/Elements.scala
  shared/src/test/scala/ElementTests.scala
Due: none

Apply suggestions from code review
  shared/src/main/scala/NumberHelpers.scala
Due: none

Update shared/src/main/scala/NumberHelpers.scala
  shared/src/main/scala/NumberHelpers.scala
Due: none

Add tests for H
  shared/src/test/scala/ElementTests.scala
Due: none

Remove test that is considered "Duplicate"
  shared/src/test/scala/ElementTests.scala
Due: none

Make sure the test actually has the right expected output
  shared/src/test/scala/ElementTests.scala
Due: none

Scalafix changes
  shared/src/main/scala/Interpreter.scala
  shared/src/main/scala/ListHelpers.scala
  shared/src/main/scala/StringHelpers.scala
  shared/src/main/scala/VList.scala
Due: none

Implement loading and checking different output criteria
  build.sc
  documentation/BuildTools.md
  jvm/src/test/resources/tests.yaml
  jvm/src/test/scala/YamlTests.scala
Due: none

Add a test group for -
  jvm/src/test/resources/tests.yaml
  jvm/src/test/scala/YamlTests.scala
Due: none

Add a group indices element
  documents/knowledge/elements.yaml
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Make default value of `n` equal to `ka`
  vyxal/context.py
Due: none

Set default values of `⁰¹` to `0`.
  vyxal/elements.py
Due: sort-elements

Forgot some commas
  vyxal/elements.py
Due: sort-elements

Add arities
  vyxal/elements.py
Due: sort-elements

Implement matrix from (anti)diagonals
  documents/knowledge/elements.yaml
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Add ~330 words to the dictionary
  vyxal/dictionary.py
Due: none

Add `~` flag for testing against expected output
  vyxal/main.py
Due: none

Fix silly bug with not resetting the input index
  vyxal/main.py
Due: none

Create Test Case Flags.md
  documents/knowledge/Test Case Flags.md
Due: none

Add `~` to ignored flags
  static/main.js
Due: none

Use addFull for sort element
  shared/src/main/scala/Elements.scala
Due: none

Ungolf function a little with the help of ChatGPT
  vyxal/elements.py
Due: sort-elements

Fix a little sussy error from chatgpt
  vyxal/elements.py
Due: sort-elements

Okay now it's fixed
  vyxal/elements.py
Due: sort-elements

You know maybe I should start testing these locally
  vyxal/elements.py
Due: sort-elements

How about now?
  vyxal/elements.py
Due: sort-elements

Add the word "bingus" to the dictionary
  vyxal/dictionary.py
Due: none

Add numeric overloads for G and g
  documents/knowledge/elements.yaml
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

cp -> checkpoint
  jvm/src/test/scala/YamlTests.scala
Due: none

Inline f in list_from_diagonal
  vyxal/elements.py
Due: sort-elements

Path conditions:
  regen-test-elements-py: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-txt: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-md: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-js: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  sort-elements: any of: vyxal/elements.py, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
