Repository Vyxal/Vyxal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

.pre-commit-config.yaml:

exclude: '^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: regen-test-elements-py
        name: Regenerate tests/test_elements.py
        entry: python documents/knowledge/processor.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-txt
        name: Generate documents/knowledge/elements.txt
        entry: python documents/knowledge/yaml_to_txt.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-md
        name: Generate documents/knowledge/elements.md
        entry: python documents/knowledge/yaml_to_md.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-js
        name: Generate static/parsed_yaml.js
        entry: python documents/knowledge/yaml_to_js.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false
        pass_filenames: false

      - id: sort-elements
        name: Sort elements in elements.py
        entry: python sort_element_functions.py
        language: python
        additional_dependencies: []
        files: vyxal/elements.py
        pass_filenames: false

Update vyxal/elements.py
  vyxal/elements.py
Due: sort-elements

Make `İ` make complex numbers
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Make ḟ work properly with long/unknowably infinite lists
  vyxal/elements.py
Due: sort-elements

Make `Ḣ` rangify
  documents/knowledge/elements.yaml
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Finally fix labeler
  .github/workflows/labeler.yml
Due: none

Fix set inputs
  vyxal/elements.py
Due: sort-elements

Version 2.16.0
  pyproject.toml
Due: none

Fix all inputs
  vyxal/context.py
  vyxal/elements.py
  vyxal/main.py
Due: sort-elements

c
  vyxal/elements.py
Due: sort-elements

Add element to convert integer to base N, returning a string
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Update documents/knowledge/elements.yaml
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Fix j
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Make ȯ work with integers that would give a slice starting with 0
  vyxal/elements.py
Due: sort-elements

add a little test
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Yeet `kn`
  .github/labeler.yml
  documents/knowledge/elements.yaml
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Add element to gridify
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Add ÞṖ
  documents/knowledge/elements.yaml
  vyxal/elements.py
  vyxal/helpers.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

sys.exit breaks the test suite in #1415
  vyxal/main.py
Due: none

Account for infiniteness
  vyxal/helpers.py
Due: none

Fix multiplication on two complex numbers
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

add some helpful error messages
  vyxal/elements.py
Due: sort-elements

Version 2.16.1
  pyproject.toml
Due: none

Add `Þ:` and add a bit more description to `Þ∞`
  documents/knowledge/elements.yaml
  tests/test_complex.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Add several "all powers" built-ins
  documents/knowledge/elements.yaml
  tests/test_complex.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Helps to make sure infinite lists are indexed properly!
  tests/test_complex.py
Due: none

start on adding a lambda to newline
  tests/test_parser.py
  vyxal/parse.py
Due: none

Update parse.py
  vyxal/parse.py
Due: none

Update test_parser.py
  tests/test_parser.py
Due: none

Fix a now invalid test case
  tests/test_complex.py
Due: none

how the hell did the indentation get messed up
  tests/test_flags.py
Due: none

I forgot it gave literal newlines
  tests/test_flags.py
Due: none

Make a way to test flags
  tests/test_flags.py
Due: none

#1373 was merged
  tests/test_flags.py
Due: none
