Repository Vyxal/Vyxal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

regen-test-elements-py:
  name: Regenerate tests/test_elements.py
  entry: python documents/knowledge/processor.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-txt:
  name: Generate documents/knowledge/elements.txt
  entry: python documents/knowledge/yaml_to_txt.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-md:
  name: Generate documents/knowledge/elements.md
  entry: python documents/knowledge/yaml_to_md.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-js:
  name: Generate static/parsed_yaml.js
  entry: python documents/knowledge/yaml_to_js.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

sort-elements:
  name: Sort elements in elements.py
  entry: python sort_element_functions.py
  language: python
  additional_dependencies: []
  pass_filenames: false

Update vyxal/elements.py
  vyxal/elements.py
Due: sort-elements

Make `⌊` account for decimals and negatives
  vyxal/elements.py
Due: sort-elements

Move helper to helpers.py
  vyxal/elements.py
  vyxal/helpers.py
Due: sort-elements

Version 2.14.1
  pyproject.toml
Due: none

Add more test cases for multiplicity
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Make Ǒ check for 0 and 1
  vyxal/elements.py
Due: sort-elements

replace parsed yaml format
  documents/knowledge/elements.yaml
  documents/knowledge/yaml_to_js.py
  static/keyboard.js
  static/parsed_yaml.js
  static/tooltip.js
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

add fuzzy searching
  documents/knowledge/yaml_to_js.py
  static/css/main.css
  static/keyboard.js
  static/parsed_yaml.js
  templates/index.html
Due: none

sort found elements by closeness
  static/keyboard.js
Due: none

switch to react popper
  static/css/main.css
  static/keyboard.js
  templates/index.html
Due: none

fix space
  documents/knowledge/yaml_to_js.py
  static/parsed_yaml.js
Due: none

style tooltips again
  static/css/main.css
  static/keyboard.js
Due: none

rm search
  static/search.js
Due: none

sigh
  documents/knowledge/yaml_to_js.py
Due: none

Rearrange `kP` and add `kQ`
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

stuffify
  documents/knowledge/elements.yaml
  vyxal/helpers.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Add buttons to insert digraphs in tooltips
  static/css/main.css
  static/keyboard.js
Due: none

Fix strings without quotes
  vyxal/LazyList.py
Due: none

fix event listeners
  static/keyboard.js
Due: none

highlight in result
  static/css/main.css
  static/keyboard.js
Due: none

restyle highlight
  static/css/main.css
  static/keyboard.js
Due: none

remove redundant argument
  static/keyboard.js
Due: none

Fix issue where negative indexing into LazyList appends to itself
  vyxal/LazyList.py
Due: none

Fix floor
  vyxal/helpers.py
Due: none

Fix untruth
  vyxal/elements.py
Due: sort-elements

add column debugger information
  vyxal/helpers.py
  vyxal/lexer.py
  vyxal/parse.py
  vyxal/transpile.py
  vyxal/vdb.py
Due: none

add a stepper; it'll run with poetry run vyxal
  vyxal/main.py
  vyxal/transpile.py
  vyxal/vdb.py
Due: none

Add tab completions for unicode chars
  static/main.js
Due: none

add printing
  vyxal/vdb.py
Due: none

add steps and continues
  vyxal/vdb.py
Due: none

oops
  vyxal/vdb.py
Due: none

Path conditions:
  regen-test-elements-py: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-txt: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-md: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-js: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  sort-elements: any of: vyxal/elements.py, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
