Repository Vyxal/Vyxal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

regen-test-elements-py:
  name: Regenerate tests/test_elements.py
  entry: python documents/knowledge/processor.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-txt:
  name: Generate documents/knowledge/elements.txt
  entry: python documents/knowledge/yaml_to_txt.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-md:
  name: Generate documents/knowledge/elements.md
  entry: python documents/knowledge/yaml_to_md.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-js:
  name: Generate static/parsed_yaml.js
  entry: python documents/knowledge/yaml_to_js.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

sort-elements:
  name: Sort elements in elements.py
  entry: python sort_element_functions.py
  language: python
  additional_dependencies: []
  pass_filenames: false

Add `~` flag for testing against expected output
  vyxal/main.py
Due: none

Add `~` to ignored flags
  static/main.js
Due: none

Make sorting return a string if it's given a string
  shared/src/main/scala/Elements.scala
  shared/src/test/scala/ElementTests.scala
Due: none

Make `@` vectorised lengths
  documents/knowledge/elements.yaml
  tests/test_parser.py
  vyxal/elements.py
  vyxal/parse.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Update test_complex.py
  tests/test_complex.py
Due: none

Make `G` and `g` NOPs on Numbers
  vyxal/elements.py
Due: sort-elements

Change group indices to `Þz`
  documents/knowledge/elements.yaml
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Convert row to LazyList before yielding in transpose
  vyxal/helpers.py
Due: none

Add test case from issue #1694
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Add extra description
  vyxal/main.py
Due: none

a little refactoring
  vyxal/main.py
Due: none

Apply suggestion from review
  shared/src/main/scala/VList.scala
Due: none

Apply another suggestion from review
  shared/src/main/scala/NumberHelpers.scala
Due: none

Scalafix changes
  shared/src/main/scala/VList.scala
Due: none

Apply late suggestions on another PR
  shared/src/main/scala/NumberHelpers.scala
Due: none

Add extra text
  shared/src/main/scala/NumberHelpers.scala
Due: none

Remove files
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
Due: none

Reupload files
  documents/knowledge/elements.md
  documents/knowledge/elements.txt
Due: none

Version 2.20.0
  pyproject.toml
Due: none

Make negative bit shifts not error
  vyxal/elements.py
Due: sort-elements

Change `str, num` overloads as well
  vyxal/elements.py
Due: sort-elements

Fix
  vyxal/elements.py
Due: sort-elements

Make `øA` return 0 for non-alphabets
  vyxal/elements.py
Due: sort-elements

Reverse order of output of `~`
  vyxal/helpers.py
  vyxal/main.py
Due: none

Update `R` so it can take implicit input
  vyxal/elements.py
Due: sort-elements

Make `R` only take one item at first
  vyxal/elements.py
Due: sort-elements

Fix `rhs`/`lhs`
  vyxal/elements.py
Due: sort-elements

Let's see if this works
  vyxal/elements.py
Due: sort-elements

Huh, so turns out that didn't work. This probably will
  vyxal/elements.py
Due: sort-elements

Move the input moving down to the monadic case
  vyxal/elements.py
Due: sort-elements

Okay so turns out I was overthinking this way too much
  vyxal/elements.py
Due: sort-elements

Quick patch on the code I wrote for `R`
  vyxal/elements.py
Due: sort-elements

Make `∆M` not error on an empty list
  vyxal/elements.py
Due: sort-elements

Attempt to fix #1694
  vyxal/helpers.py
Due: none

That failed. Let's try again
  vyxal/helpers.py
Due: none

Add test case from #1694
  tests/test_elements.py
Due: none

Add test case from #1694 (properly this time)
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Fix `~` flag not working with other flags
  vyxal/main.py
Due: none

My bad
  vyxal/main.py
Due: none

Make the `~` flag have the right output online
  vyxal/main.py
Due: none

Path conditions:
  regen-test-elements-py: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-txt: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-md: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-js: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  sort-elements: any of: vyxal/elements.py, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
