Repository Vyxal/Vyxal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

.pre-commit-config.yaml:

exclude: '^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: regen-test-elements-py
        name: Regenerate tests/test_elements.py
        entry: python documents/knowledge/processor.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-txt
        name: Generate documents/knowledge/elements.txt
        entry: python documents/knowledge/yaml_to_txt.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-md
        name: Generate documents/knowledge/elements.md
        entry: python documents/knowledge/yaml_to_md.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-js
        name: Generate static/parsed_yaml.js
        entry: python documents/knowledge/yaml_to_js.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false
        pass_filenames: false

      - id: sort-elements
        name: Sort elements in elements.py
        entry: python sort_element_functions.py
        language: python
        additional_dependencies: []
        files: vyxal/elements.py
        pass_filenames: false

Upgrade to fastparse 3.0.2 in Mill
  build.sc
Due: none

Update the auto-type switching to not switch on (str, lst)
  vyxal/elements.py
Due: sort-elements

Somebody forgot a ctx in their function call
  vyxal/elements.py
Due: sort-elements

Update CLI.scala
  shared/src/vyxal/CLI.scala
Due: none

Add a way to eventually run the debugger in the CLI
  shared/src/vyxal/CLI.scala
  shared/src/vyxal/Globals.scala
  shared/src/vyxal/Interpreter.scala
Due: none

Set up more linting and heed warnings
  .scalafix.conf
  build.sbt
  build.sc
  jvm/src/vyxal/JvmRepl.scala
  jvm/src/vyxal/gen/GenerateNanorc.scala
  shared/src/vyxal/CLI.scala
  shared/src/vyxal/Context.scala
  shared/src/vyxal/Elements.scala
  shared/src/vyxal/Globals.scala
  shared/src/vyxal/Interpreter.scala
  shared/src/vyxal/ListHelpers.scala
  shared/src/vyxal/MiscHelpers.scala
  shared/src/vyxal/Modifiers.scala
  shared/src/vyxal/NumberHelpers.scala
  shared/src/vyxal/Parser.scala
  shared/src/vyxal/StringHelpers.scala
  shared/src/vyxal/VAny.scala
  shared/src/vyxal/VList.scala
  shared/src/vyxal/VNum.scala
  shared/src/vyxal/debugger/Debugger.scala
  shared/src/vyxal/lexer/Lexer.scala
  shared/src/vyxal/lexer/LiterateLexer.scala
  shared/src/vyxal/lexer/SBCSLexer.scala
  shared/test/src/vyxal/InterpreterTests.scala
  shared/test/src/vyxal/LexerTests.scala
  shared/test/src/vyxal/VyxalTests.scala
  shared/test/src/vyxal/YamlTests.scala
Due: none

Scalafix changes
  shared/src/vyxal/Globals.scala
  shared/src/vyxal/Interpreter.scala
  shared/src/vyxal/ListHelpers.scala
  shared/src/vyxal/Modifiers.scala
Due: none

Don't create unnecessary lists in unpackHelper
  shared/src/vyxal/MiscHelpers.scala
Due: none

Get rid of separate vyxal.impls package
  js/src/vyxal/JSVyxal.scala
  jvm/src/vyxal/JvmRepl.scala
  jvm/src/vyxal/gen/GenerateDocs.scala
  jvm/src/vyxal/gen/GenerateNanorc.scala
  shared/src/vyxal/AST.scala
  shared/src/vyxal/Elements.scala
  shared/src/vyxal/Interpreter.scala
  shared/src/vyxal/Parser.scala
  shared/src/vyxal/VAny.scala
  shared/src/vyxal/debugger/Debugger.scala
  shared/src/vyxal/lexer/Lexer.scala
  shared/src/vyxal/lexer/LiterateLexer.scala
  shared/src/vyxal/lexer/SBCSLexer.scala
  shared/test/src/vyxal/ElementTests.scala
Due: none

Some linting by IntelliJ
  shared/src/vyxal/AST.scala
  shared/src/vyxal/CLI.scala
  shared/src/vyxal/Context.scala
  shared/src/vyxal/Elements.scala
  shared/src/vyxal/Functions.scala
  shared/src/vyxal/Globals.scala
  shared/src/vyxal/Interpreter.scala
  shared/src/vyxal/ListHelpers.scala
  shared/src/vyxal/MiscHelpers.scala
  shared/src/vyxal/NumberHelpers.scala
  shared/src/vyxal/Parser.scala
  shared/src/vyxal/StringHelpers.scala
  shared/src/vyxal/VList.scala
  shared/src/vyxal/debugger/Debugger.scala
  shared/src/vyxal/lexer/Lexer.scala
  shared/src/vyxal/lexer/LiterateLexer.scala
Due: none

Scalafix changes
  shared/src/vyxal/Functions.scala
  shared/src/vyxal/NumberHelpers.scala
  shared/src/vyxal/debugger/Debugger.scala
Due: none

Make DebugRepl
  shared/src/vyxal/CLI.scala
  shared/src/vyxal/NumberHelpers.scala
  shared/src/vyxal/debugger/DebugRepl.scala
  shared/src/vyxal/debugger/Debugger.scala
Due: none

Go back to returning StepRes after step
  shared/src/vyxal/debugger/Debugger.scala
Due: none

I'll use nulls if I feel like it
  .scalafix.conf
Due: none

Scalafix changes
  shared/src/vyxal/CLI.scala
  shared/src/vyxal/debugger/DebugRepl.scala
Due: none

Add name field to StepRes
  shared/src/vyxal/debugger/Debugger.scala
Due: none

Add hash elememt (SHA256)
  vyxal/elements.py
Due: sort-elements

Add SHA256 element test and explanation
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Implement @ysthakur's suggestion
  vyxal/elements.py
Due: sort-elements

Oh wait I'm supposed to fill that in
  vyxal/elements.py
Due: sort-elements

Update vyxal/elements.py
  vyxal/elements.py
Due: sort-elements

Make Steps sealed trait
  shared/src/vyxal/debugger/DebugImpls.scala
  shared/src/vyxal/debugger/Debugger.scala
Due: none

Make each Step an Iterator-like class
  shared/src/vyxal/Interpreter.scala
  shared/src/vyxal/VAny.scala
  shared/src/vyxal/debugger/DebugImpls.scala
  shared/src/vyxal/debugger/Debugger.scala
Due: none

Rudimentary impl for function steps
  shared/src/vyxal/debugger/Debugger.scala
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Will it work? No idea
  shared/src/vyxal/debugger/DebugImpls.scala
  shared/src/vyxal/debugger/Debugger.scala
Due: none

No more chains
  shared/src/vyxal/debugger/Debugger.scala
Due: none

Implement stepInto (maybe)
  shared/src/vyxal/debugger/Debugger.scala
Due: none

No idea what StepRes was for so bye
  shared/src/vyxal/debugger/Debugger.scala
Due: none

Don't pop if last frame
  shared/src/vyxal/debugger/DebugRepl.scala
  shared/src/vyxal/debugger/Debugger.scala
Due: none

Scalafix changes
  shared/src/vyxal/debugger/Debugger.scala
Due: none

Update sbt to 1.9.3 in version-3
  project/build.properties
Due: none

bump sbt.version to 1.9.3
  project/build.properties
Due: none

Okay yeah I can see while the forStep hasn't been implemented yet
  shared/src/vyxal/debugger/Debugger.scala
Due: none

Axtually get the thing after context
  shared/src/vyxal/debugger/Debugger.scala
Due: none

Maybe apparently implement forStep?
  shared/src/vyxal/debugger/Debugger.scala
Due: none

Update scalafmt-core to 3.7.11 in version-3
  .scalafmt.conf
Due: none

Start making list of steps flat
  shared/src/vyxal/debugger/Debugger.scala
Due: none

I had no choice
  shared/src/vyxal/debugger/DebugImpls.scala
  shared/src/vyxal/debugger/DebugRepl.scala
  shared/src/vyxal/debugger/Debugger.scala
Due: none

Improve string overload of deltas
  vyxal/elements.py
Due: sort-elements
