Repository Vyxal/Vyxal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

regen-test-elements-py:
  name: Regenerate tests/test_elements.py
  entry: python documents/knowledge/processor.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-txt:
  name: Generate documents/knowledge/elements.txt
  entry: python documents/knowledge/yaml_to_txt.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-md:
  name: Generate documents/knowledge/elements.md
  entry: python documents/knowledge/yaml_to_md.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-js:
  name: Generate static/parsed_yaml.js
  entry: python documents/knowledge/yaml_to_js.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

sort-elements:
  name: Sort elements in elements.py
  entry: python sort_element_functions.py
  language: python
  additional_dependencies: []
  pass_filenames: false

c: add calendar-aware months to date
  shared/src/vyxal/elements/ElementInformation.scala
  shared/src/vyxal/elements/Elements.scala
Due: none

ʀ: each month in the same year
  shared/src/vyxal/elements/ElementInformation.scala
  shared/src/vyxal/elements/Elements.scala
Due: none

Scalafix changes
  shared/src/vyxal/elements/ElementInformation.scala
  shared/src/vyxal/elements/Elements.scala
Due: none

Refresh element and/or trigraph docs from recent commit
  documentation/table.md
  jvm/resources/vyxal-lit.nanorc
Due: none

Make `a` do the thing it is supposed to on numbers
  shared/src/vyxal/elements/Elements.scala
Due: none

Add numeric tests for `a`
  shared/test/resources/tests.yaml
Due: none

< and > now work on dates. they are also type switchable
  shared/src/vyxal/elements/ElementInformation.scala
  shared/src/vyxal/elements/Elements.scala
Due: none

Scalafix changes
  shared/src/vyxal/elements/Elements.scala
Due: none

Refresh element and/or trigraph docs from recent commit
  documentation/table.md
Due: none

slightly better rounding, Þ⊖ solves polynomials
  shared/src/vyxal/elements/ElementInformation.scala
  shared/src/vyxal/elements/Elements.scala
Due: none

test driven development is my passion
  shared/src/vyxal/elements/Elements.scala
Due: none

Permutations where (`Ϣ`) and First Permutation where (`⊆`)
  shared/src/vyxal/elements/ElementInformation.scala
  shared/src/vyxal/elements/Elements.scala
  shared/test/resources/tests.yaml
Due: none

Fix "duplicate" tests
  shared/test/resources/tests.yaml
Due: none

Update tests.yaml
  shared/test/resources/tests.yaml
Due: none

fix #2223
  shared/src/vyxal/Exceptions.scala
  shared/src/vyxal/elements/Elements.scala
Due: none

Scalafix changes
  shared/src/vyxal/Exceptions.scala
  shared/src/vyxal/elements/Elements.scala
Due: none

fix round to arbitrary
  shared/src/vyxal/elements/Elements.scala
  shared/test/resources/tests.yaml
  shared/test/src/vyxal/ElementTests.scala
Due: none

Scalafix changes
  shared/src/vyxal/elements/Elements.scala
  shared/test/src/vyxal/ElementTests.scala
Due: none

Make `∆P` return all roots, not just unique
  vyxal/elements.py
Due: sort-elements

Remove complex parts of test in ∆P tests
  documents/knowledge/elements.yaml
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Add missing `sympy.Poly`
  vyxal/elements.py
Due: sort-elements

Cheeky ordering swap in tests
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Another test case swap
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Make output just always print decimals - sympy is weird
  vyxal/elements.py
Due: sort-elements

Update elements.py
  vyxal/elements.py
Due: sort-elements

Make sympy printing a little better
  vyxal/elements.py
Due: sort-elements

bump version to 3.12.0
  build.sc
  shared/src/vyxal/Interpreter.scala
Due: none

fix #T
  shared/src/vyxal/Interpreter.scala
  shared/src/vyxal/gen/DocsUtils.scala
  shared/test/src/vyxal/InterpreterTests.scala
Due: none

Scalafix changes
  shared/test/src/vyxal/InterpreterTests.scala
Due: none

Refresh element and/or trigraph docs from recent commit
  contributing/vyxal.grammar
Due: none

doc: fix documentation for øR
  shared/src/vyxal/elements/ElementInformation.scala
Due: none

implement -¬ flag lol
  shared/src/vyxal/Interpreter.scala
Due: none

Scalafix changes
  shared/src/vyxal/Interpreter.scala
Due: none

Add cantor list collapsing thingy
  shared/src/vyxal/NumberHelpers.scala
  shared/src/vyxal/elements/Elements.scala
Due: none

Scalafix changes
  shared/src/vyxal/NumberHelpers.scala
  shared/src/vyxal/elements/Elements.scala
Due: none

Path conditions:
  regen-test-elements-py: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-txt: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-md: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-js: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  sort-elements: any of: vyxal/elements.py, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
