Repository Vyxal/Vyxal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

.pre-commit-config.yaml:

exclude: '^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: regen-test-elements-py
        name: Regenerate tests/test_elements.py
        entry: python documents/knowledge/processor.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-txt
        name: Generate documents/knowledge/elements.txt
        entry: python documents/knowledge/yaml_to_txt.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-md
        name: Generate documents/knowledge/elements.md
        entry: python documents/knowledge/yaml_to_md.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-js
        name: Generate static/parsed_yaml.js
        entry: python documents/knowledge/yaml_to_js.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false
        pass_filenames: false

      - id: sort-elements
        name: Sort elements in elements.py
        entry: python sort_element_functions.py
        language: python
        additional_dependencies: []
        files: vyxal/elements.py
        pass_filenames: false

Fix that ∆F vectorizes on ∆f
  vyxal/elements.py
Due: sort-elements

Preserve infinite lists state
  vyxal/LazyList.py
  vyxal/elements.py
  vyxal/helpers.py
Due: sort-elements

hopefully fix ciruclar import
  vyxal/LazyList.py
Due: none

Whoa big mistake
  vyxal/LazyList.py
Due: none

bruh
  vyxal/LazyList.py
Due: none

bruh
  vyxal/helpers.py
Due: none

Fix ⁺
  vyxal/parse.py
Due: none

Version 2.14.2
  pyproject.toml
Due: none

Begin upgrading tab shortcuts
  static/main.js
Due: none

Update static/main.js
  static/main.js
Due: none

Add a bunch more
  flask_app.py
  static/main.js
Due: none

WHY DO I ALWAYS FORGET TO REMOVE APP.RUN()
  flask_app.py
Due: none

Update main.js
  static/main.js
Due: none

More docs
  static/main.js
Due: none

Fix boolify on LazyLists when raw_object is exhausted
  vyxal/LazyList.py
Due: none

Make `i` modular slice strings
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Update elements.py
  vyxal/elements.py
Due: sort-elements

Added letter-to-number
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Add "truthy under" overload to T updot
  documents/knowledge/elements.yaml
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Add sort at every level
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Add stuff for len != 1
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Make `Ṁ` insert at negative indices correctly
  vyxal/elements.py
Due: sort-elements

Special case two-lists in prepend again
  vyxal/elements.py
Due: sort-elements

Make `€` work properly again
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Make `digits` function not convert to float
  documents/knowledge/elements.yaml
  vyxal/helpers.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Make `ÞS` respect original type
  vyxal/elements.py
Due: sort-elements

Improve the behaviour of `İ`
  vyxal/elements.py
  vyxal/helpers.py
Due: sort-elements

Make the tests for `∪` account for different types
  documents/knowledge/elements.yaml
  tests/test_elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Change the tests for `Ǒ` to account for normal integer rules
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Fix arrow parsing elements
  vyxal/elements.py
Due: sort-elements
