Repository Vyxal/Vyxal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

.pre-commit-config.yaml:

exclude: '^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: regen-test-elements-py
        name: Regenerate tests/test_elements.py
        entry: python documents/knowledge/processor.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-txt
        name: Generate documents/knowledge/elements.txt
        entry: python documents/knowledge/yaml_to_txt.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-md
        name: Generate documents/knowledge/elements.md
        entry: python documents/knowledge/yaml_to_md.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-js
        name: Generate static/parsed_yaml.js
        entry: python documents/knowledge/yaml_to_js.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false
        pass_filenames: false

      - id: sort-elements
        name: Sort elements in elements.py
        entry: python sort_element_functions.py
        language: python
        additional_dependencies: []
        files: vyxal/elements.py
        pass_filenames: false

Fix A flag
  vyxal/main.py
Due: none

Stringify them
  vyxal/main.py
Due: none

Fix eval
  tests/test_complex.py
  vyxal/context.py
  vyxal/elements.py
  vyxal/main.py
  vyxal/transpile.py
Due: sort-elements

Fix with helper and remove dead code
  vyxal/context.py
  vyxal/elements.py
  vyxal/main.py
Due: sort-elements

Make A flag work with strings without quotes
  vyxal/main.py
Due: none

cleaned up vectorise
  vyxal/elements.py
Due: sort-elements

Hopefully fix bugs
  vyxal/elements.py
Due: sort-elements

Make divide sensible
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
  vyxal/helpers.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Fine, I'll put it back
  vyxal/elements.py
  vyxal/helpers.py
Due: sort-elements

update yaml
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Fix conditional execute
  tests/test_complex.py
  vyxal/elements.py
  vyxal/parse.py
Due: sort-elements

Fix insert
  vyxal/elements.py
Due: sort-elements

Fix strict ascending / descending
  vyxal/elements.py
Due: sort-elements

Fix repeat
  vyxal/elements.py
Due: sort-elements

Fix left align testcase
  documents/knowledge/elements.yaml
  tests/test_elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Fix test for zip
  documents/knowledge/elements.yaml
  tests/test_elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Fix ÞR
  documents/knowledge/elements.yaml
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Fix vertical join, actually fix reepeat
  vyxal/elements.py
Due: sort-elements

Fix shuffle and left/right juustify
  vyxal/elements.py
Due: sort-elements

Fix Ż
  tests/test_elements.py
  vyxal/elements.py
Due: sort-elements

Update vyxal/elements.py
  vyxal/elements.py
Due: sort-elements

Make `Þİ` work with swapped args
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Make tooltips unselectable
  static/css/main.css
Due: none

Fix strip
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Add drop while overload
  documents/knowledge/elements.yaml
  tests/test_complex.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Actually fix A flag
  vyxal/main.py
Due: none

Tests
  tests/test_complex.py
Due: none

Fix ¨i modifier with the stack and stuff
  vyxal/elements.py
  vyxal/parse.py
Due: sort-elements

Update documents/knowledge/elements.yaml
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Move drop_while to helpers
  vyxal/elements.py
  vyxal/helpers.py
Due: sort-elements

Make `⌊` account for decimals and negatives
  vyxal/elements.py
Due: sort-elements

Move helper to helpers.py
  vyxal/elements.py
  vyxal/helpers.py
Due: sort-elements
