Repository Vyxal/Vyxal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

regen-test-elements-py:
  name: Regenerate tests/test_elements.py
  entry: python documents/knowledge/processor.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-txt:
  name: Generate documents/knowledge/elements.txt
  entry: python documents/knowledge/yaml_to_txt.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-md:
  name: Generate documents/knowledge/elements.md
  entry: python documents/knowledge/yaml_to_md.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

yaml-to-js:
  name: Generate static/parsed_yaml.js
  entry: python documents/knowledge/yaml_to_js.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

sort-elements:
  name: Sort elements in elements.py
  entry: python sort_element_functions.py
  language: python
  additional_dependencies: []
  pass_filenames: false

Fix some improperly decorated elements
  vyxal/elements.py
Due: sort-elements

Update greetings.yml
  .github/workflows/greetings.yml
Due: none

Use arity 0 for infinite generators
  vyxal/elements.py
Due: sort-elements

Remove unnecessary todo
  vyxal/elements.py
Due: sort-elements

Format
  vyxal/elements.py
Due: sort-elements

Update sort_element_functions
  sort_element_functions.py
Due: none

Allow R to handle up to base 62
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Add mill output directories to gitignore
  .gitignore
Due: none

Make slice_from use all integers
  documents/knowledge/elements.yaml
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Add test
  tests/test_complex.py
Due: none

Swap descriptions of slice and remove
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Use o in test
  tests/test_complex.py
Due: none

Swap defs of slice and remove
  vyxal/elements.py
Due: sort-elements

Swap func and count
  vyxal/elements.py
Due: sort-elements

Add more list tests for `C`
  shared/src/main/scala/VNum.scala
  shared/src/test/scala/ElementTests.scala
Due: none

Add broken tests for `C`
  shared/src/test/scala/ElementTests.scala
Due: none

Turn off printing in test mode
  shared/src/main/scala/Context.scala
  shared/src/main/scala/Globals.scala
  shared/src/test/scala/ElementTests.scala
  shared/src/test/scala/VyxalTests.scala
Due: none

Remove all extra output from test output
  shared/src/test/scala/ElementTests.scala
  shared/src/test/scala/InterpreterTests.scala
  shared/src/test/scala/VyxalTests.scala
Due: none

Start refactoring element tests into `testMulti`
  shared/src/test/scala/ElementTests.scala
Due: none

Migrate tests for `B` to `testMulti`
  shared/src/test/scala/ElementTests.scala
Due: none

Convert a `B` test into `testEquals`
  shared/src/test/scala/ElementTests.scala
Due: none

Finish migrating tests
  shared/src/main/scala/Elements.scala
  shared/src/test/scala/ElementTests.scala
Due: none

add a test for `D`
  shared/src/test/scala/ElementTests.scala
Due: none

Sort element docs by place in codepage
  documentation/elements.txt
  jvm/src/main/scala/Main.scala
Due: none

Peek instead of popping
  shared/src/test/scala/VyxalTests.scala
Due: none

Don't use it in testCode
  shared/src/test/scala/ElementTests.scala
  shared/src/test/scala/InterpreterTests.scala
  shared/src/test/scala/VyxalTests.scala
Due: none

Make testCode/AST take inputs instead of ctx and no
  shared/src/test/scala/ElementTests.scala
  shared/src/test/scala/InterpreterTests.scala
  shared/src/test/scala/VyxalTests.scala
Due: none

Update shared/src/test/scala/ElementTests.scala
  shared/src/test/scala/ElementTests.scala
Due: none

Rename `Impls.execute` to `Impls.exec`
  shared/src/main/scala/Elements.scala
  shared/src/test/scala/ElementTests.scala
Due: none

Fix `!`
  shared/src/main/scala/Elements.scala
  shared/src/main/scala/NumberHelpers.scala
  shared/src/main/scala/VNum.scala
  shared/src/test/scala/ElementTests.scala
Due: none

make the linter happy
  shared/src/main/scala/Elements.scala
Due: none

Add a test helper for checking the stack
  shared/src/test/scala/ElementTests.scala
  shared/src/test/scala/VyxalTests.scala
Due: none

Modify Lexer to work with Scala Native
  build.sbt
  build.sc
  native/src/main/scala/Main.scala
  native/src/main/scala/Repl.scala
  project/plugins.sbt
  shared/src/main/scala/Interpreter.scala
  shared/src/main/scala/Lexer.scala
Due: none

It's `\\.` because it's checking for escapes within string
  shared/src/main/scala/Lexer.scala
Due: none

Make modulo of VNum floating-point + floored
  shared/src/main/scala/Elements.scala
  shared/src/main/scala/VNum.scala
  shared/src/test/scala/ElementTests.scala
Due: none

Add tests for string modulo
  shared/src/main/scala/Elements.scala
  shared/src/main/scala/StringHelpers.scala
  shared/src/main/scala/VList.scala
  shared/src/test/scala/ElementTests.scala
Due: none

Refresh element documentation from recent commit
  documentation/elements.txt
Due: none

Make mill work with Scala Native
  build.sc
Due: none

Golf modulo impl
  shared/src/main/scala/Elements.scala
Due: none

Golf factorial
  shared/src/main/scala/Elements.scala
Due: none

Path conditions:
  regen-test-elements-py: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-txt: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-md: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  yaml-to-js: any of: documents/knowledge/elements.yaml, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
  sort-elements: any of: vyxal/elements.py, but not: ^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$
