Repository Vyxal/Vyxal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

.pre-commit-config.yaml:

exclude: '^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: regen-test-elements-py
        name: Regenerate tests/test_elements.py
        entry: python documents/knowledge/processor.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-txt
        name: Generate documents/knowledge/elements.txt
        entry: python documents/knowledge/yaml_to_txt.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-md
        name: Generate documents/knowledge/elements.md
        entry: python documents/knowledge/yaml_to_md.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-js
        name: Generate static/parsed_yaml.js
        entry: python documents/knowledge/yaml_to_js.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false
        pass_filenames: false

      - id: sort-elements
        name: Sort elements in elements.py
        entry: python sort_element_functions.py
        language: python
        additional_dependencies: []
        files: vyxal/elements.py
        pass_filenames: false

Make antidiagonals ordered support infinite lists
  documents/knowledge/elements.yaml
  tests/test_complex.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Deep iterablify in all_antidiagonals_ordered
  vyxal/elements.py
Due: sort-elements

Rename Element Documentation to ElementDocumentation.md
  documentation/ElementDocumentation.md
Due: none

Don't use index() in antidiagonals ordered
  vyxal/elements.py
Due: sort-elements

Copy Vyxal/improve-v3-documentation's Interpreter.md into this one
  documentation/Interpreter.md
  documentation/README.md
Due: none

Move part about multiple parameter lists to bottom
  documentation/Interpreter.md
Due: none

Merge Element-Impls.md into ElementDocumentation.md
  documentation/Element-Impls.md
  documentation/ElementDocumentation.md
Due: none

Make ImplHelpers class to group arity-specific helpers
  .scalafmt.conf
  shared/src/main/scala/Context.scala
  shared/src/main/scala/Elements.scala
  shared/src/main/scala/FuncHelpers.scala
  shared/src/main/scala/Functions.scala
  shared/src/main/scala/Globals.scala
  shared/src/main/scala/MiscHelpers.scala
  shared/src/main/scala/Parser.scala
  shared/src/main/scala/StringHelpers.scala
  shared/src/test/scala/ElementTests.scala
Due: none

Minor formatting
  shared/src/main/scala/Elements.scala
  shared/src/main/scala/StringHelpers.scala
  shared/src/test/scala/ElementTests.scala
Due: none

Add scalafix plugin
  build.sbt
  project/plugins.sbt
Due: none

Add Scalafix rules and workflow
  .github/workflows/lint.yaml
  .scalafix.conf
  build.sbt
  shared/src/main/scala/Parser.scala
Due: none

Make Context#push variadic
  shared/src/main/scala/Context.scala
  shared/src/main/scala/Elements.scala
  shared/src/main/scala/FuncHelpers.scala
  shared/src/test/scala/ElementTests.scala
  shared/src/test/scala/InterpreterTests.scala
Due: none

Minor changes according to custom scalafix rules
  .scalafix.conf
  shared/src/main/scala/Elements.scala
  shared/src/main/scala/ListHelpers.scala
  shared/src/main/scala/MiscHelpers.scala
  shared/src/main/scala/Parser.scala
  shared/src/main/scala/VNum.scala
Due: none

Frickin sbt needs quotes
  .github/workflows/lint.yaml
Due: none

Use reprlib to override __repr__ for lazylist
  vyxal/LazyList.py
Due: none

Update README.md
  README.md
Due: none

fix incorrect behavior of multiline comment
  vyxal/lexer.py
Due: none

Add some test cases for the PR
  tests/test_lexer.py
Due: none

Make mode work on lists of lists
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Fix a logic error with apply at
  tests/test_complex.py
  vyxal/elements.py
Due: sort-elements

Fix `IndexError: deque index out of range` while lexing unclosed multiline comment
  vyxal/lexer.py
Due: none

Add test cases for the PR
  tests/test_lexer.py
Due: none

Make scoping work like Python
  documentation/Interpreter.md
  documentation/README.md
  shared/src/main/scala/Context.scala
  shared/src/main/scala/Interpreter.scala
  shared/src/test/scala/InterpreterTests.scala
Due: none

Add a little on context variables in README
  documentation/README.md
Due: none

Start on more element tests
  shared/src/test/scala/ElementTests.scala
Due: none

Make decimals and complex literals work better
  shared/src/main/scala/Lexer.scala
  shared/src/main/scala/VNum.scala
  shared/src/test/scala/InterpreterTests.scala
  shared/src/test/scala/LexerTests.scala
Due: none

Add little clarification comment
  shared/src/main/scala/VNum.scala
Due: none

Update .deepsource.toml
  .deepsource.toml
Due: none

Make replace and replace_first loop over target/replacement
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
  vyxal/helpers.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Add new behavior of replace to documentation
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Move Context.md into Interpreter.md
  documentation/Context.md
  documentation/Interpreter.md
  documentation/README.md
Due: none

Add a __version__ attribute
  vyxal/__init__.py
Due: none

Update documents/knowledge/elements.yaml
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Create test_workflow.yml
  .github/workflows/test_workflow.yml
Due: none

fix
  .github/workflows/test_workflow.yml
Due: none

Add some documentation for using sbt
  README.md
  build.sbt
  documentation/README.md
  documentation/UsingSBT.md
  shared/src/main/scala/Context.scala
Due: none

Make build.sc for mill support
  .gitignore
  .mill-version
  build.sc
  mill
Due: none

Version 2.19.0
  pyproject.toml
Due: none
