Repository Vyxal/Vyxal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

.pre-commit-config.yaml:

exclude: '^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: regen-test-elements-py
        name: Regenerate tests/test_elements.py
        entry: python documents/knowledge/processor.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-txt
        name: Generate documents/knowledge/elements.txt
        entry: python documents/knowledge/yaml_to_txt.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-md
        name: Generate documents/knowledge/elements.md
        entry: python documents/knowledge/yaml_to_md.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-js
        name: Generate static/parsed_yaml.js
        entry: python documents/knowledge/yaml_to_js.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false
        pass_filenames: false

      - id: sort-elements
        name: Sort elements in elements.py
        entry: python sort_element_functions.py
        language: python
        additional_dependencies: []
        files: vyxal/elements.py
        pass_filenames: false

Make summation work a little better on negative numbers and floats
  documents/knowledge/elements.yaml
  vyxal/elements.py
  vyxal/helpers.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Make a version of prime exponents that includes 0s
  documents/knowledge/elements.yaml
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Forgot to call the type lambda
  vyxal/elements.py
Due: sort-elements

Update elements.yaml
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Replace `isinf` with `infinite` in call to Union
  vyxal/elements.py
Due: sort-elements

Update vyxal/elements.py
  vyxal/elements.py
Due: sort-elements

Make it explicit that it's mapping function objects, not elements
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Licence year bump
  LICENSE
Due: none

Implement Reduced Echelon Form
  documents/knowledge/elements.yaml
  vyxal/elements.py
  vyxal/helpers.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Add elements to return a more sensible diagonals order
  documents/knowledge/elements.yaml
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Implement chunk-while
  documents/knowledge/elements.yaml
  tests/test_complex.py
  vyxal/elements.py
  vyxal/helpers.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Version 2.18.5
  pyproject.toml
Due: none

Start on interpreter docs
  documentation/Interpreter.md
Due: none

Flesh out interpreter docs
  documentation/Element-Impls.md
  documentation/Interpreter.md
  documentation/README.md
Due: none

Fix links
  documentation/Interpreter.md
Due: none

Start on docs for element impls
  documentation/Element-Impls.md
Due: none

finally
  documents/knowledge/elements.yaml
  poetry.lock
  pyproject.toml
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

just make sure it's sympy
  vyxal/elements.py
Due: sort-elements

oops
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

help
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Use the 3.x version of Spire
  build.sbt
Due: none

Add some more documentation to the parser
  documentation/Parser.md
Due: none

Document another parser function
  documentation/Parser.md
Due: none

Parser docs should be done
  documentation/Parser.md
Due: none

Start on lexer docs
  documentation/Lexer.md
Due: none

Update Lexer.md
  documentation/Lexer.md
Due: none

Finish lexer docs
  documentation/Lexer.md
Due: none

Make `ß` retain the original parent
  vyxal/parse.py
Due: none

Update parse.py
  vyxal/parse.py
Due: none

Fix tests
  tests/test_parser.py
  vyxal/parse.py
Due: none

Implement the fix for `¨i` too
  tests/test_parser.py
  vyxal/parse.py
Due: none

Create Interpreter.md
  documentation/Interpreter.md
Due: none

Update Interpreter.md
  documentation/Interpreter.md
Due: none

Update the table further
  documentation/Interpreter.md
Due: none

Create Context.md
  documentation/Context.md
Due: none

Create Element Documentation
  documentation/Element Documentation
Due: none

Update documentation/Interpreter.md
  documentation/Interpreter.md
Due: none
