Repository Vyxal/Vyxal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

.pre-commit-config.yaml:

exclude: '^(tests/test_elements\.py|documents/knowledge/[eE]lements\.(md|txt)|static/parsed_yaml\.js)$'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: regen-test-elements-py
        name: Regenerate tests/test_elements.py
        entry: python documents/knowledge/processor.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-txt
        name: Generate documents/knowledge/elements.txt
        entry: python documents/knowledge/yaml_to_txt.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-md
        name: Generate documents/knowledge/elements.md
        entry: python documents/knowledge/yaml_to_md.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false

      - id: yaml-to-js
        name: Generate static/parsed_yaml.js
        entry: python documents/knowledge/yaml_to_js.py
        language: python
        additional_dependencies: [pyyaml]
        files: documents/knowledge/elements.yaml
        pass_filenames: false
        pass_filenames: false

      - id: sort-elements
        name: Sort elements in elements.py
        entry: python sort_element_functions.py
        language: python
        additional_dependencies: []
        files: vyxal/elements.py
        pass_filenames: false

Add right vectorize
  documents/knowledge/elements.yaml
  tests/test_complex.py
  vyxal/elements.py
  vyxal/parse.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Make lambdas be available to take via normal input
  tests/test_complex.py
  vyxal/helpers.py
Due: none

Fix tests and offline lambda evaluation
  tests/test_complex.py
  vyxal/helpers.py
Due: none

`R` now puts two things on the stack regardless of original types
  vyxal/elements.py
Due: sort-elements

Fix a little bug that made a test for w updot fail
  vyxal/helpers.py
Due: none

Remove all powrs of 3
  documents/knowledge/elements.yaml
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Ofc I forgor a test in test_complex
  tests/test_complex.py
Due: none

Someone didn't fix the merge conflict correctly 👀
  tests/test_complex.py
Due: none

Update parse.py
  vyxal/parse.py
Due: none

Add functionality of `}];` back
  tests/test_complex.py
  vyxal/parse.py
Due: none

Add first truthy non-integer and n truthy non-integer overloads
  documents/knowledge/elements.yaml
  tests/test_complex.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Remove some debug prints
  vyxal/elements.py
Due: sort-elements

Fix a big braining of a type check
  vyxal/elements.py
Due: sort-elements

Make mold no longer return weird outputs
  vyxal/helpers.py
Due: none

Add tests
  tests/test_complex.py
Due: none

actually add arctan2
  vyxal/elements.py
Due: sort-elements

Add hyperbolic trig functions
  documents/knowledge/elements.yaml
  tests/test_elements.py
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Added atan2
  documents/knowledge/elements.yaml
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Update documents/knowledge/elements.yaml
  documents/knowledge/elements.yaml
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js

Version 2.17.0
  pyproject.toml
Due: none

Make product on numbers return the binary representation as a string
  documents/knowledge/elements.yaml
  vyxal/elements.py
Due: regen-test-elements-py, yaml-to-txt, yaml-to-md, yaml-to-js, sort-elements

Put sympy back on the menu
  vyxal/helpers.py
Due: none

Forgot that `len(lhs)` can't be called on infinite lazylists
  tests/test_complex.py
  vyxal/elements.py
Due: sort-elements

Straight up remove bad `.`s
  vyxal/helpers.py
Due: none

Version 2.17.1
  pyproject.toml
Due: none

1) create a simple txt file of what each element is, Like the first ever style of txt file
  info.txt
Due: none

Update codepage.txt
  codepage.txt
Due: none

Update info.txt
  info.txt
Due: none

Create README.md
  README.md
Due: none

remove extra planning
  Choices.yml
  core-functions.md
  element-wishlist.md
  elements.yaml
  no-longer-needed-flags.txt
  template_elements.yaml
Due: none

Initial Commit
  .gitignore
  .scalafmt.conf
  build.sbt
  src/main/scala/vyxal.scala
Due: none

Update .gitignore
  .gitignore
Due: none
